.print-chart-table tr, .print-chart-table td, .print-chart-table th {
    border:1px solid black;
}

.print-chart-table td{
    padding-left:auto;
    /* display:inline-block; */
}

.print-chart-table {
    /* width: 385px; */
    /* height:90%; */
    margin: auto ;
    margin-top:10vh;
    table-layout: fixed;
}