.print-chart-table tr, .print-chart-table td, .print-chart-table th {
    border:1px solid black;
}

.print-chart-table th{
width:50px;
min-height:100px;
}

.print-chart-table {
    /* width: 385px; */
    /* height:90%; */
    margin: auto ;
    margin-top:20vh;
    table-layout: fixed;
}

#sideways-title {
    transform: 
    rotate(-90deg);
  width: 30px;
}
#sideways-title-wrap {
    width:10px;
}