.add-student-form {
width:95%;
margin:auto;
}

tr th, tr td {
    text-align: center;
}

td button {
    margin:auto;
}

.editForm {
    padding:20px;
}

#studentGradeGrid {
display:grid;

}
#studentGradeGrid {
    display:grid-item;
}
#grades-wrap {
    width:100vw;
    height:100vh;
    position:static;
}